@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* Body styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f7fa; /* Light blue-gray background */
  color: #333; /* Dark gray text */
}

/* Container styles */
.App {
  text-align: center;
  padding: 2% 5%;
}

/* Input field styles */
input[type="text"] {
  padding: 14px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #ccc;
  font-size: 18px;
  line-height: 26px;
  height: 56px;
  background-color: #f5f5f5;
  color: #333;
  margin: 10px auto; /* Center the input box horizontally */
  display: block; /* Ensure the margin:auto works */
  transition: border-color 0.3s ease;
}

input[type="number"] {
  padding: 8px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #ccc;
  font-size: 14px;
  line-height: 10px;
  height: 25px;
  background-color: #f5f5f5;
  color: #333;
  margin: 10px auto; /* Center the input box horizontally */
  display: block; /* Ensure the margin:auto works */
  transition: border-color 0.3s ease;
}

/* Hover effect */
input[type="text"]:hover,
input[type="number"]:hover {
  border-color: #999;
}

/* Focus effect */
input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

/* Suggestions styles */
#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 50px;
  z-index: 2;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff; /* White background */
  border: 1px solid #d8e1f0; /* Light blue border */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions li {
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #555; /* Dark gray text */
}

.suggestions li:hover {
  background-color: #f5f5f5; /* Light gray background on hover */
}

/* Event styles */
.event {
  padding: 24px;
  margin-bottom: 20px;
  text-align: left;
  border: 2px solid #d8e1f0; /* Light blue border */
  border-radius: 12px;
  background-color: #ffffff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.details-btn {
  position: absolute;
  right: 16px;
  bottom: 16px;
  padding: 10px 16px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  background-color: #6ac0ff; /* Light blue button color */
  color: #ffffff; /* White text color */
  border: none;
  transition: background-color 0.3s ease;
}

.details-btn:hover {
  background-color: #4d90fe; /* Darker blue on hover */
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}
