@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.App {
  text-align: center;
  padding: 2% 5%;
  background-color: white;
  color: green;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 10%;
  list-style: none;
}

p {
  margin: 5px 0;
}

/* Styling Input Fields with CSS */
input[type="text"],
input[type="number"] {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #ccc;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  background-color: #f5f5f5;
  color: #333;
  margin: 10px auto; /* Center the input box horizontally */
  display: block; /* Ensure the margin:auto works */
  transition: border-color 0.3s ease;
}

/* Hover effect */
input[type="text"]:hover,
input[type="number"]:hover {
  border-color: #999;
}

/* Focus effect */
input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}
.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}
